.navbar {
    padding: 30px 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.menu-icon {
    cursor: pointer;
    padding-left: 10px;
    position: absolute;
    left: 50%;
    margin-left: -12.5px;
    width: 25px;
}
.test {
    color: red;
}
.menu-icon span {
    display: block;
    background: #111;
    height: 5px;
    width: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.menu-icon span:before {
    content: '';
    display: block;
    background: #111;
    height: 5px;
    position: relative;
    right: -10px;
    width: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.menu-icon span:after {
    content: '';
    display: block;
    background: #111;
    height: 5px;
    position: relative;
    left: -10px;
    top: -5px;
    width: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.menu-icon span:nth-child(2) {
    margin: 5px 0;
}
.menu-icon:hover span:nth-child(2) {
    margin: 7px 0;
}
.menu-icon:hover span:before {
    right: -12px;
}
.menu-icon:hover span:after {
    left: -12px;
}

.overlay-menu {
    position: fixed;
    height: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 5;
    /* === Vertical Menu === */
    /* === Submenu === */
}
.overlay-menu.opened {
    visibility: visible;
}
.overlay-menu.opened:after {
    bottom: 0;
}
.overlay-menu.opened .navbar {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}
.overlay-menu.opened .vertical-menu li {
    opacity: 1;
    bottom: 0;
}
.overlay-menu.opened footer {
    opacity: 1;
    margin: 0 0 50px;
    transition-delay: 1s;
}
.overlay-menu .vertical-menu li:nth-child(1n) {
    transition-delay: 0.2s;
}
.overlay-menu .vertical-menu li:nth-child(2n) {
    transition-delay: 0.4s;
}
.overlay-menu .vertical-menu li:nth-child(3n) {
    transition-delay: 0.6s;
}
.overlay-menu .vertical-menu li:nth-child(4n) {
    transition-delay: 0.8s;
}
.overlay-menu .vertical-menu li:nth-child(5n) {
    transition-delay: 1s;
}
.overlay-menu .vertical-menu li:nth-child(6n) {
    transition-delay: 1.2s;
}
.overlay-menu .vertical-menu li:nth-child(7n) {
    transition-delay: 1.4s;
}
.overlay-menu .vertical-menu li:nth-child(8n) {
    transition-delay: 1.6s;
}
.overlay-menu .vertical-menu li:nth-child(9n) {
    transition-delay: 1.8s;
}
.overlay-menu .vertical-menu li:nth-child(10n) {
    transition-delay: 2s;
}
.overlay-menu:after {
    content: '';
    background: #111;
    bottom: -100%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.overlay-menu .navbar {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    z-index: 6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.overlay-menu .close-icon {
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -10px;
}
.overlay-menu footer {
    opacity: 0;
    width: 100%;
    margin: 0 0 40px;
    z-index: 6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.overlay-menu .vertical-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    z-index: 6;
}
.overlay-menu .vertical-menu li.openmenu > a {
    color: #FFF;
}
.overlay-menu .vertical-menu li.openmenu > .switch {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.overlay-menu .vertical-menu li {
    padding: 4px 0;
    position: relative;
    list-style: none;
    opacity: 0;
    bottom: -10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.overlay-menu .vertical-menu li .switch {
    display: inline-block;
    padding: 0 22px;
    line-height: 1;
    cursor: pointer;
    color: #FFF;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
}
.overlay-menu .vertical-menu li a {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-decoration: none;
    position: relative;
}
.overlay-menu .vertical-menu li a:after {
    content: '';
    background: #FFF;
    width: 0;
    height: 5px;
    left: 0;
    bottom: -10px;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.overlay-menu .vertical-menu li a:hover:after {
    width: 100%;
    height: 5px;
}
.overlay-menu .vertical-menu li a:hover {
    color: #FFF;
}
.overlay-menu .submenu {
    display: none;
    padding: 0;
}
.overlay-menu .submenu li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}
.overlay-menu .submenu li a:after {
    height: 3px;
}
.overlay-menu .submenu li a:hover:after {
    width: 100%;
    height: 3px;
}
.overlay-menu .submenu li a:hover {
    color: #FFF;
}